html {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
}

#header {
  background-image: url("../img/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#header p {
  font-size: 18px;
  color: white;
}

#header a {
  color: white;
}
